#sobre-menu {
  padding: 104px 0 124px 0;
  background-color: #ededed;
  justify-items: center;
  text-align: center;
}

#sobre-menu h2 {
  font-size: 40px;
  padding-bottom: 48px;
}

#sobre-menu p {
  font-size: 20px;
  max-width: 82ch;
  line-height: 2.5rem;
  padding-bottom: 112px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 20px;
  justify-content: center;
}

#skills li {
  padding: 16px 24px;
  background-color: #d9d9d9;
  border-radius: 6px;
  flex: 0 1 10%;
}

@media (max-width: 700px) {
  #sobre-menu {
    padding: 80px 20px;
    justify-content: left;
  }

  #sobre-menu h2 {
    font-size: 20px;
    padding-bottom: 24px;
    text-align: left;
    justify-self: left;
  }

  #sobre-menu p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5rem;
  }

  #skills ul {
    justify-content: left;
    gap: 10px;
    font-size: 16px;
  }
}
