#contatos-menu {
  background-color: #111;
  color: #cdcdcd;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 112px;
  padding-bottom: 0;
}

#contatos-menu h3 {
  justify-self: center;
  font-size: 32px;
}

#contatos-menu p {
  font-size: 28px;
  max-width: 30ch;
}

#socials {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#socials li {
  transition: transform 0.3s ease;
}

#line {
  background-color: #cdcdcd;
  height: 2px;
  grid-column: 1/-1;
  margin: 200px 100px;
  margin-bottom: 50px;
}

#contatos-menu #footer {
  grid-column: 1/-1;
  font-size: 12px;
  justify-self: center;
  max-width: 100%;
  padding-bottom: 32px;
}

#socials li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#social-wrap {
  position: relative;
}

#alert {
  font-family: 'Roboto';
  margin-top: 8px;
  justify-self: center;
  background-color: #333;
  padding: 6px 6px;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #333;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
  z-index: 1000;
  opacity: 0;
}

#alert.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0);
}

@media (max-width: 700px) {
  #contatos-menu {
    padding: 60px 0 0 0;
  }

  #contatos-menu h3 {
    display: none;
  }

  #contatos-menu p {
    font-size: 16px;
    padding-left: 20px;
  }

  #socials {
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }

  #socials img {
    width: 32px;
    height: auto;
  }

  #line {
    margin: 0 32px 16px 32px;
  }

  #contatos-menu #footer {
    grid-column: 1/-1;
    font-size: 10px;
    justify-self: center;
    padding: 0 0 20px 0;
  }
}
