body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



.kod-font {
  font-family: 'Kodchasan', monospace;
  font-weight: 500;
}

.kod-regular-font {
  font-family: 'Kodchasan', monospace;
  font-weight: 300;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.roboto-regular-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.roboto-bold-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
