#grid-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 56px;
  background: #222;
  align-items: center;
}
#grid-container a {
  display: inline-block;
  color: #fff;
  transition: transform 0.4s ease;
}

#nav-list {
  display: flex;
  justify-content: space-between;
}

#nav-list li {
  padding-left: 40px;
  font-size: 1.5rem;
}

#home-title {
  font-size: 2rem;
}

#grid-container a:hover {
  color: #ffbb00;
  transform: scale(1.1);
}

#grid-container h3 a:hover {
  color: #ffbb00;
  transform: scale(1.05);
}
