#menu-mobile {
  display: none;
}

@media (max-width: 700px) {
  #menu-mobile {
    display: flex;
    background-color: #222;
    border: none;
    padding: 20px 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 900;
    margin-right: 10px;
  }
  #menu-mobile::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 26px;
    background-color: #fff;
    box-shadow: 0 7px #fff, 0 -7px #fff;
  }
  #nav-list {
    display: none;
    position: absolute;
    background-color: #222;
    width: 120px;
    z-index: 200;
    top: 0;
    padding: 80px 0px 20px 0px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    right: 0px;
  }
  #nav-list.active {
    display: block;
  }
  #nav-list li {
    padding: 12px 16px;
    white-space: nowrap;
  }
  #home-title {
    font-size: 1.25rem;
    margin-left: 4px;
  }
  #grid-container {
    padding: 24px 0px 24px 20px;
  }
}
